
* {
  font-family: 'Roboto';
}

header {
  grid-area: header;
  background-color: #7477bf;
  display: flex;
  padding: 0 15px;
}

nav {
  grid-area: nav;
  background-color: #4d4c72;
}

main {
  grid-area: main;
}

h1 {
  font-weight: lighter;
  color: white;
  font-size: 22px;
  margin: auto auto auto 0;
}

h1 span {
  font-weight: bold;
}

header p {
  display: none;
}

header a {
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  margin-top: 27px;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 80px 80px auto;
  grid-template-columns: auto;
  grid-gap: 0;
  grid-template-areas:
    'header'
    'nav'
    'main';
}

.widgets {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0;
  grid-template-areas:
  'traffic traffic'
  'daily-traffic mobile-users'
  'social-stats social-stats'
  'new-members recent-activity';
}

.avatar {
  border-radius: 50%;
  height: 35px;
}

.alert-icon {
  height: 20px;
  margin-right: 25px;
  padding-right: 20px;
  border-right: 1px solid #5d61bf;
}

.nav-icon {
  height: 25px;
  opacity: .5;
}

.nav-icon:hover {
  opacity: 1;
  transition: .3s;
}

.traffic-chart {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.new-members {
  grid-area: new-members;
}

.recent-activity {
  grid-area: recent-activity;
}


/*---MEDIA QUERIES ---*/

@media (min-width: 768px) {
  .grid {
    grid-template-rows: 80px;
    grid-template-columns: 80px auto;
    grid-gap: 0;
    grid-template-areas:
      'header header'
      'nav main';
  }
  ul {
    flex-direction: column;
    margin-top: 0;
  }
  ul li {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  header p {
    display: inherit;
    font-size: 16px;
    margin: auto 15px;
    color: white;
  }
}
