.alert-msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $ship-cove;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 0 15px;
    @include mq {
        height: 40px;
    }
}

.button--send {
    border-radius: 5px;
    border: none;
    background-color: $ship-cove;
    color: $white;
    font-weight: $font-weight--regular;
    margin-top: auto;
    padding: 15px 0;
    width: 100%;
}

.button--save {
    border-radius: 5px;
    border: none;
    background-color: $ship-cove;
    color: $white;
    font-weight: $font-weight--regular;
    margin-top: auto;
    padding: 15px 0;
    width: 100%;
    @include mq {
        margin-right: 10px;
        width: 48%; 
    }
}

.button--cancel {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: $silver-chalice;
    color: $white;
    font-weight: $font-weight--regular;
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
    @include mq {
        margin-top: 0;
        width: 48%;
    }
}