.img--user-avatar {
    border-radius: 50%;
    height: 40px;
}

.icon--notification {
    height: 25px;
    margin-right: 20px;
    border-right: 1px solid $mulled-wine;
    padding-right: 20px;
}

.icon--nav {
    height: 25px;
}

.icon--search {
    height: 18px;
    position: absolute;
    right: 25px;
}

.icon--close {
    height: 10px;
}