
.site-logo {
    color: $white;
    font-weight: $font-weight--bold;
    margin-right: auto;
    span {
        font-weight: $font-weight--light;
    }
}

.user--name {
    color: $white;
    font-size: 14px;
    margin-left: 20px;
}

.nav {
    padding: 25px;
    &__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        @include mq {
            flex-direction: column;
        }
    }
    &__item {
        margin-bottom: 25px;
    }
    &__link {
        opacity: .5;
        &:hover {
            opacity: 1;
            transition: .4s;
        }
    }
}

