.widget-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.widget-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &__item {
        margin-left: 20px;
        font-size: 14px;
        a {
          color: $dove-gray;
        }
    }
}

.chart-container--big {
  @include mq {
    height: 300px;
  }
}

.chart-container--small {
  height: 150px;
  width: 100%;
  @include mq {
    height: 250px;
  }
}

.social__list {
    display: flex;
    flex-direction: column;
    @include mq {
      flex-direction: row;
      align-items: center;
    }
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: $alabaster;
    padding: 10px 25px;
    & + & {
      margin-top: 20px;
    }
    @include mq {
      max-width: 330px;
      align-items: center;
      & + & {
        margin-top: 0;
      }
    }
}

.social-media__name {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: $ship-cove ;
}

.social-media__number {
    margin: 0;
    font-size: 40px;
    font-weight: lighter;
    color: $dove-gray;
}
  
  /*-----------------------------
  NEW MEMBERS
  -----------------------------*/
  .user__list {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid #d1d1d1;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }

  .user__avatar {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user__data {
    margin-right: auto;
    &-one,
    &-two {
      text-align: left;
      margin: 0;
      color: $dove-gray;
    }
    &--purple {
      color: $ship-cove;
      font-weight: lighter;
    }
  }

  .user__data-aux {
    margin: 0;
  }
  

/*-----------------------------
MESSAGE USER
----------------------------*/

.widget-grid__message,
.widget-grid__settings {
    display: flex;
    flex-direction: column;
}

/*-----------------------------
SETTINGS
----------------------------*/

.setting-option {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center; 
    margin: 17px 0; 
}

.setting-option__text {
    margin-right: 10px;
}

.setting-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $ship-cove;
    border-radius: 25px;
    width: 85px;
    height: 30px;
    padding: 0 7px;
    & p {
        color: $white;
        font-weight: $font-weight--bold;
        margin: 0 auto 0 0;
    }
}

.circle {
    border-radius: 50%;
    background-color: $white;
    width: 20px;
    height: 20px;
}

.setting-buttons {
    display: flex;
    flex-direction: row;
}
